body {
  margin: 0;
}

.div1 {
  width: 100%;
  margin: 0;
  height: 100px;
  background-color: black;
  margin-right: 0;
}
ul {
  margin: 0;
  text-decoration: none;
}
li {
  margin: 0;
  text-decoration: none;
}
.hobbies {
  display: inline-block;
  margin: 0;
  position: absolute;
  right: 50px;
  top: 20px;
  font-size: 30px;
  text-decoration: none;
}
.contact {
  display: inline-block;
  margin: 0;
  position: absolute;
  right: 175px;
  top: 20px;
  font-size: 30px;
  text-decoration: none;
}
.education {
  display: inline-block;
  margin: 0;
  position: absolute;
  right: 335px;
  top: 20px;
  font-size: 30px;
  text-decoration: none;
}

.div2 {
  margin-top: 0px;
  width: 50%;
  position: absolute;
  right: 50%;
  height: 80%;
}
.div3 {
  margin-top: 0px;
  width: 50%;
  position: absolute;
  left: 50%;
  height: 80%;
}
.prog {
  display: block;
  margin: auto;
  height: 100%;
  width: 100%;
  position: relative;
}
h1 {
  margin: 10px;
  line-height: normal;
  font-size: 70px;
  font-family: "Rammetto One", cursive;
  text-shadow: 7px 3px 2px #318fb5;
  color: yellowgreen;
}
p {
  margin: 10px;
  font-size: 50px;
  font-family: "Bree Serif", serif;
}
a {
  font-family: "Rammetto One", cursive;
}
